.footer-detail {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    background-color: #C4B68D;
    border-radius: 3px;
    padding: 10px 80px;
}

.footer-detail a{
    color: #fff;
    font-weight: bold;
    justify-content: center;
    text-decoration:none;
}



.Info {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}