.success{
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: green;
}

.error{
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: red;
}