* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #34495e;
  font-size: 16px;
  background-color: #fff;
  transition: background-color 700ms ease;
}

.contenedor {
  width: 100%;
  min-height: 645px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: flex-wrap;
  padding-top: 10px;
}

ul.contenedor {
  width: 100%;
  min-height: 645px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: flex-wrap;
  /* justify-content:space-between; */
  background-color: #fff;
  padding-top: 10px;
}



.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.btn-primary {
  color: #fff;
  background-color: #EAB543 impotant!; 
  border-color: #EAB543 impotant!;
}

.card{
  min-width: 300px !important;
  margin: 10px;
}